body.nocturno article{
    border-color: #eee;
}

body.nocturno aside a{
    color: rgb(131, 131, 131);
}
           
body.nocturno aside, body.nocturno article{
    background: rgb(30, 37, 71);
}

body.diurno aside, body.diurno article{
background: radial-gradient(circle, rgb(193, 218, 193) 0%, rgb(226, 226, 226) 100%);
}

article, aside, #articleVideo{
        border: 3px solid rgb(87, 87, 87);
        -webkit-box-shadow: 0px 0px 15px rgb(148, 39, 170);
                box-shadow: 0px 0px 15px rgb(148, 39, 170);
}

article{
    
    padding: 20px;
    margin: 0 0 40px 0;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

section{
    margin: 5% 0 0 15%;
    float: left;
    width: 45%;
}
article h4{
    text-align: center;
    font-size: larger;
    padding-bottom: 10px;
    text-transform: uppercase;
}
#video{
    position: relative;
    width: calc(100% + 2px);
    height: calc(100%);
    
}

video{
    width: 100%;
    height: calc(100%);
}

#audiosConverted{
    margin: 0 auto;
    width: 80%;
}
#articleVideo{
    width: calc(100% + 40px);
    padding: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: calc(1% - 3px);
}
article img{
    float: left;
    position: relative;
    width: 70%;
    padding: 20px 10% 20px 10%;
    height: 203px;
    max-width: 800px;
}

aside{
    display: block;
    width: 15%;
    float: right;
    margin: 5% 15% 0 0;
    padding: 1% 0 0 1%;
    border: solid;
    border-radius: 5px;
    height: calc(100%);
    line-height: 250%;
    text-align: left;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
aside a:link{
    text-decoration: none;
    color: rgb(68, 68, 68);
}
aside a:visited{
    text-shadow: 0px 0px 2px red;
}

aside:hover, article:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}


@media (min-width: 601px) and (max-width: 1099px) { 

section{
    float: none;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}
article img{
    float: left;
    position: absolute;
    width: 80%;
    padding: 20px 10% 10px 5%;
    max-width: 400px;
    height: 180px;

}
aside{
    float:none;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
#articleVideo{
    margin-left: 3px;
}

}
 
@media (max-width: 600px) { 


section{
    float: none;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}


aside{
    float:none;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
article img{
    float: left;
    width: 90%;
    padding: 20px 0 10px 20px;

}
#articleVideo{
    margin-left: 3px;
}

}

@media (max-width: 480px) { 

aside{
    float:none;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
article{
    overflow: scroll;
}
section{
    margin-left: 10%;
    margin-right: 10%;
}
#articleVideo{
    margin-left: 3px;
}
article img{
    position: relative;
    display: block;
    padding: 20px 0 0 20px;
    width: 90%;
    float: left;
}

}
