#formulario {
    margin:10%;
    border-style: solid;
    width: 30%;
}
#labels{
    float: left;
    margin-left: 5%;
    margin-right: 5%;

}
#inputs{
    float: left;
}
#terminos{
    float: left;
    margin-left: 5%;
}
