table{
    margin: 0 auto;
    width: 60%;
    height: 300px;
    margin-bottom: 70px;
    /* padding: 0px 0 0 0; */
    border: 2px solid #be0000;
}
table td{
    border: 1px solid blue;
    box-sizing: content-box;
    background-color: #bb9768;
}
td:hover{
    background-color: #029980;
}
th{
    background-color: #e48080;
}
form{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}
table{
    text-align: center;
    table-layout: auto;
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}
table tr:first-child td {
    background: mediumslateblue;
}