body.nocturno th{
    background-color: rgb(143, 168, 143);
    color: rgb(233, 233, 233);
}

body.nocturno table tr:nth-child(odd) td{
    background-color: rgb(150, 144, 185);
    color: rgb(233, 233, 233);
}
body.nocturno table tr:nth-child(even) td{
     background-color: rgb(180, 155, 165);
     color: rgb(233, 233, 233);
}

header, aside, footer, nav{
    display: none;
}

table{
    margin: 0 auto;
    width: 60%;
    height: 300px;
    margin-bottom: 70px;
    border: 2px solid rgb(148, 39, 170);
    text-align: center;
    table-layout: auto;
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
}

table caption{
    letter-spacing: 20px;
    text-shadow: 0 0 2px rgb(148, 39, 170);
}

table td{
    border-bottom: 1px solid rgb(148, 39, 170);
    box-sizing: content-box;
    background-color: rgb(226, 226, 226);
}
td:hover{
    background-color: rgb(163, 78, 78);
}
th{
    border-bottom: 1px solid rgb(148, 39, 170);
    background-color: rgb(193, 218, 193);
}
form{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

table tr:first-child td{
    background-color: rgb(200, 194, 235);
}

table tr:nth-child(odd) td{
    background-color: rgb(230, 205, 229);
}

table tr:nth-child(even) td{
    background-color: rgb(230, 205, 215);
}