*{
    margin: 0px;
    padding: 0 px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}
/* Ejemplo navbar */
body.nocturno{
        background-color: #111;
        color:#eee;
        -webkit-transition: background 1s linear;
        transition: background 1s linear;

}
body.nocturno header{
  background-color: #111;
  color:#eee;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;

}
body.nocturno div{
  background-color: #111;
        color:#eee;
        -webkit-transition: background 1s linear;
        transition: background 1s linear;

}
body.nocturno nav{
  background-color: #111;
        color:#eee;
        -webkit-transition: background 1s linear;
        transition: background 1s linear;

}
body.nocturno nav a, body.nocturno .fa-car, body.nocturno .fa-motorcycle, body.nocturno .fa-spray-can{
        color:#eee;
        -webkit-transition: color 1s linear;
        transition: color 0.5s ease;

}

body.nocturno nav ul input{
    background-color: rgb(39, 29, 18);
    color: #eee;
}
body.nocturno nav ul input:hover{
    background-color: #eee;
    color: #111;
    transition: background-color 1s ease;
}
body.nocturno aside{
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(135,44,44,1) 51%, rgba(2,0,36,1) 100%);
transition: background 1s ease;
}

body.diurno{
  background-color: #eee;
  color:#111;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;

}
body.diurno header{
background-color: #eee;
color:#111;
-webkit-transition: background 1s linear;
transition: background 1s linear;

}
body.diurno div{
background-color: #eee;
  color:#111;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;

}
body.diurno nav{
background-color: #eee;
  color:#111;
  -webkit-transition: background 1s linear;
  transition: background-color 1s linear;

}
body.diurno nav a, body.diurno .fa-car, body.diurno .fa-motorcycle, body.diurno .fa-spray-can{
  color:#111;
  -webkit-transition: color 1s linear;
  transition: color 0.5s ease;

}

body.diurno nav ul input{
    background-color: #eee;
    color: #111;
    transition: background-color 1s ease;
}
body.diurno nav ul input:hover{
    background-color: rgb(39, 29, 18);
    color: #eee;
    transition: background-color 1s ease;
}
body.diurno aside{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(255, 230, 241) 0%, rgba(148,187,233,1) 100%);
}

img:not([alt]){
  border: 3px solid red;
}

a[href$=".pdf"]:after{
  content:url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
  margin: 0px 0 0 7px;
}
header{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 70px;  
    background-color: rgb(223, 223, 223);
    z-index: 1;
}
nav{
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0 2px 0px #F7A956;
}

nav ul{
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
}
nav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
nav li a{
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
}
nav ul input{
    border-radius: 12px;
}
nav li a:hover{
     color: rgb(0, 38, 255);
     text-shadow: 0px 0px 5px #F7A956;
}


/*Ejemplo Parallax*/
.parallax {
  background-image: url("../images/RX7V3_01_comped.pngAD6C4DC5-7A98-4AF0-AFEE-252434A9DE0FZoom.jpg");
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax img{
  
  background-image:url("../images/wallpaper.jpg");
  border-radius: 68px;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 1s linear;
}

.parallax img:hover{
  transform: rotate(180deg);
  
}

body { padding-top: 70px; }

/* Ejemplo Whatsapp fijo*/
#btn-fixed {
	display: block;
	position: static;
  bottom: 10px;
	right: 10px;
}

/*Ejemplo Call to action*/

.call-to-action{

  max-width: 40%;
  margin: 100px 0 0 20%;
  padding: 0 30px 0 30px;
  text-align: center;

}

aside{

  position: absolute;
  float: right;
  width: 10%;
  margin-top:-10%;
  margin-left: 65%;
  padding: 1% 0 0 1%;
  border: solid;
  border-radius: 5px;
  height: 200px;
  line-height: 200%;
  overflow: hidden;
  
 
}

aside a{
  padding-left: 10%;
  text-decoration: none;
  color: rgb(199, 138, 73);
}
  
  
/* mirar cajas posicionamiento automatico */

p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}

.call-to-action h2, .call-to-action p, .call-to-action button{
  margin-bottom: 20px;
}

button{
  padding: 15px 40px 15px 40px;
  background-color: black;
  font-size: 1em;
  color: white;
   -webkit-transition: background 1s linear;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  transition: 1s linear;
}

button:hover{
  transform: scale(1.5);
  background-color: #F7A956;
  color: #111;
}

.fa-whatsapp{
  color: green;
  font-size: 3em; 
}

/*Ejemplo con cajas flexibles*/
.info-box{
  background-color: #1C1D22;
  margin: 0px auto;
  padding: 110px 0 110px 0;
  color: white;
  text-align: center;
}
.info-box h2{
  margin-bottom: 30px;
}
#flex-p{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#flex-p p{
  padding: 30px;
  max-width: 300px;
}
.fa-car, .fa-motorcycle, .fa-spray-can{
  font-size: 2.7em;
  display: block;
  margin-bottom: 30px;
}

/*Ejemplo con floats y porcentajes*/
.description-box{
  max-width: 1024px;
  margin: 0 auto;
}
.img-container {
  margin: 50px 0 50px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 30px;
}
.img-container img{
  width: 450px;
  height: 300px;
  padding-bottom: 10px;
  transition: 1s ease;
}
.img-container img:hover{
  transform: scale(1.5) ;
}
.img-container p{
 text-align: justify;
}
footer{
  padding: 30px 0 30px 0;
  text-align: center;
  clear: both;
  background-color: #111;
}
.fa-facebook-f, .fa-twitter, .fa-pinterest-p{
  font-size: 2em;
  display: inline-block;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}
.fa-whatsapp{

  font-size: 2em;
  margin-left: 50%;
  color: green;
}
/*Ejemplo Media Queries*/

@media screen and (max-width: 700px) {

   .img-container { 
        width: 100%;   
        margin: 0;
    }
    nav li input{
      display: none;     
    }
    aside{
      display: none;
    }
    
}

@media screen and (min-width: 701px) and (max-width: 1300px){
   .img-container { 
        width: 100%;   
        margin: 0;
    }
    aside{
      display: none;
    }
    nav{
      height: 70px;
    }
    nav ul{
      font-size: 1em;
    }
    nav ul input{
      font-size: 0.9em;
    }
    .call-to-action{
      margin: 0 auto;
      margin-top: 40px;
    }
    .fa-facebook-f, .fa-twitter, .fa-pinterest-p, .fa-whatsapp{
      font-size: 2.5em;
      margin-left: 10px;
    }
}

@media screen and (min-width: 2500px){
  *{
    font-size: 1.1em;
  }

}
#privacidad{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #111;
    color: #eee;
}

