*{
    margin: 0px;
    padding: 0 px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}
a:active{
  color: yellow;
}


body { 
  padding-top: 70px;
}

body.nocturno, body.nocturno div, body.nocturno nav, body.nocturno header, body.nocturno nav ul input, body.diurno nav ul input:hover{
        background-color: rgb(63, 63, 63);
        color:#eee;
        -webkit-transition: background 1s linear;
        transition: background 1s linear;

}

body.nocturno nav a, body.nocturno .fa-car, body.nocturno .fa-motorcycle, body.nocturno .fa-spray-can{
        color:#eee;
        -webkit-transition: color 1s linear;
        transition: color 0.5s ease;

}

body.diurno, body.diurno header, body.diurno div, body.diurno nav, body.nocturno nav ul input:hover, body.diurno nav ul input{
  background-color: #eee;
  color:rgb(63, 63, 63);
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
  
}

body.diurno nav a, body.diurno .fa-car, body.diurno .fa-motorcycle, body.diurno .fa-spray-can{
  color:rgb(63, 63, 63);
  -webkit-transition: color 1s linear;
  transition: color 0.5s ease;
  
}

body.nocturno .parallax img{
    background: rgb(30, 37, 71);
}

body.nocturno i, body.nocturno #privacidad{
  color: #eee;
}

body.diurno i, body.diurno #privacidad{
  color: rgb(63, 63, 63);
}

body.diurno .parallax img{
background: radial-gradient(circle, rgb(193, 218, 193) 0%, rgb(226, 226, 226) 100%);
}

img:not([alt]){
  border: 3px solid red;
}

a[href$=".pdf"]:after{
  content:url("https://www.shareicon.net/data/16x16/2016/08/13/808584_document_512x512.png");
  margin: 0px 0 0 7px;
}

header{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 70px;  
    background-color: rgb(223, 223, 223);
    z-index: 1;
}

nav{
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 0 2px 0px rgb(148, 39, 170);
}

nav ul{
  position: relative;
      float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
    padding-top: 4%;
}
nav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    padding: 15px 10px;
}
nav ul input{
    border-radius: 12px;
}
nav li a:hover{
     color: rgb(0, 38, 255);
     text-shadow: 0px 0px 5px #F7A956;
}

.parallax {
  background-image: url("../images/rx7.jpg");
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax img{
  border-radius: 68px;
  width: calc(25%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 1s linear;
}

.parallax img:hover{
  transform: rotate(180deg);
}

p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}

.introduccion h2, .introduccion p{
  margin-bottom: 20px;
}

.introduccion{

  max-width: 40%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;

}

.servicios{
  background-color: #1C1D22;
  margin: 0px auto;
  padding: 110px 0 110px 0;
  color: white;
  text-align: center;
}

.servicios h2{
  margin-bottom: 30px;
}

#flex-servicios{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#flex-servicios p{
  padding: 30px;
  max-width: 300px;
}

.fa-car, .fa-motorcycle, .fa-spray-can{
  font-size: 2.7em;
  display: block;
  margin-bottom: 30px;
}


.CochesCaja{
  max-width: 1024px;
  margin: 0 auto;
}

.img-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 30px;
}

.img-container img{
  margin: 0 auto;
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
  transition: 1s ease;
}

.img-container img:hover{
  transform: scale(1.5) ;
}

.img-container p{
 text-align: justify;
 overflow: hidden;
}

.fa-facebook-f, .fa-twitter, .fa-pinterest-p{
  font-size: 2em;
  display: inline-block;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-pinterest-p:hover, .fa-whatsapp:hover, a:hover{
  text-shadow: 0px 0px 2px yellow;
}


.fa-whatsapp{
  width: 10vh;
  display: block;
  position: fixed;
  font-size: 2em;
  bottom: 30px;
  color: green;
  right: 30px;
}

footer{
  padding: 30px 0 30px 0;
  text-align: center;
  clear: both;
}

#privacidad{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


@media (min-width: 1800px){
  nav ul{
    margin-top: -20px;
  }
}

@media (min-width: 748px) and (max-width: 1199px) { 

nav img{
  display: none;
}
nav ul{
  width: 100%;
  margin: auto;
}

}
 

@media (max-width: 747px) { 
nav img{
  display: none;
}
nav ul{
  width: 100%;
  margin: auto;
}
#modo{
  display: none;
}
.img-container{
  width: 80%;
  display: block;
  position: relative;
  margin: 0 10% 0 10%;
  

}

.img-container p{
  text-align: center;
}

}

@media (max-width: 480px) { 
#modo{
  display: none;
}
.parallax img{
  width: 40%;
}
nav ul{
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  padding-top: 10%;
}
nav img{
  display: none;
}
.img-container{
  width: 100%;
  margin: 0 auto;
}

}