
<body style="margin: 7%; margin-top: 2%; margin-bottom: 2%;">
    <header style="border-style: double;">
 
    <nav style="margin-top: 2%; border-style: double;">

        <section style="float: left; margin-right: 30%; margin-top: 2%;">
            <article style="border-style: double; padding: 2%;">

            <article style="border-style: double; margin-top: 1%;">

        <aside style="float: right; margin-top: -21%; border-style: double; width: 25%;">

    <footer  style="margin-left:33%;">
